
<header class="row spacing">
  <nav class="col-md-8 col-md-offset-2">
    <ul class="nav nav-tabs">
      <li routerLinkActive="active"><a [routerLink]="['login']">Login/Logout</a></li>
      <li routerLinkActive="active" *ngIf="isLogin()"><a [routerLink]="['view-booking']">View booking</a></li>
      <li routerLinkActive="active" *ngIf="isLogin()"><a [routerLink]="['view-seating']">View seating</a></li>
      <li routerLinkActive="active" *ngIf="isLogin()"><a [routerLink]="['create-edit-booking']">Create/Edit booking</a></li>
      <li routerLinkActive="active" *ngIf="isLogin()"><a [routerLink]="['profile-settings']">Profile & Settings</a></li>
      <li routerLinkActive="active" *ngIf="isLogin()"><a [routerLink]="['view-contact']">View contact</a></li>
    </ul>
  </nav>
</header>
<!--<div class="row spacing">
  <router-outlet></router-outlet>
</div>-->

<div class="container">

  <router-outlet></router-outlet>

</div>

