<div id="myCarousel" class="carousel slide z" data-ride="carousel" data-interval="3000">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
        <li data-target="#myCarousel" data-slide-to="5"></li>
        <li data-target="#myCarousel" data-slide-to="6"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="image/Hero-Chefs-Table-Documentary-Second-Season-Returns-Netflix-David-Gelb-Food-Films.jpg"/>
            <div class="carousel-caption">
                <h3>The sensory kitchen</h3>
                <p>We live in a world of senses. Everything we experience is
                    captured and brought to our consciousness only by our senses.</p>
            </div>
        </div>

        <div class="item">

            <img src="image/IMG_1740.png"/>
            <div class="carousel-caption">
                <h3>Produce</h3>
                <p>Chasing the best produce is to chase nature itself. </p>
            </div>
        </div>

        <div class="item">


            <img src="image/lamb_1934_1500x900.jpg"/>
            <div class="carousel-caption">
                <h3>Daily menus</h3>
                <p>Two tasting menus are offered daily: a nine-course chef's tasting
                    menu as well as a nine-course vegetable tasting menu.</p>
            </div>
        </div>

        <div class="item">
            <img src="image/ct103.jpg"/>
            <div class="carousel-caption">
                <h3>The Team</h3>
                <p>We are a diverse group from different cultures and backgrounds working toward the same goal.</p>
            </div>
        </div>

        <div class="item">

            <img src="image/ct6.jpg"/>
            <div class="carousel-caption">
                <h3>Private dining & events general information</h3>
                <p>For events with eight guests or more, we offer two private dining rooms.
                    A dedicated event team will be on hand from the beginning of the planning until the time your guests depart. </p>
            </div>
        </div>

        <div class="item">
            <img src="image/ct102.jpg"/>
            <div class="carousel-caption">
                <h3>Shibui is never complicated or contrived.</h3>
                <p>Refined beauty that isn’t affected by time or social changes.Purity of being,
                    of living, of sensing is inherent in all elements of the our experience.</p>
            </div>
        </div>

    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<!-- Second Container -->
<!--<div class="container-fluid bg-2 text-center">
    <h3 class="margin">THE BAND</h3>
    <p><em>We love music!</em></p>
    <p>We have created a fictional band website. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <br></div>-->
<!-- text on main page  -->

<div class="content">
    <h1>Chef's Table</h1>
</div>





<!-- Container (The Band Section) -->
<div id="band" class="container text-center">
    <h3 class="margin">Book a table</h3>
    <p class="margin-1"><em>We can help you!</em></p>
    <p class="padding_1">We love what can happen around the restaurant table. Since 1998, we’ve been committed to empowering that experience. From helping restaurants grow and run their businesses, to enabling diners to discover and book the perfect table every time
        they dine, our story is one of connection—among diners, restaurants, and their communities. But the table is just the start. Now, we’re growing globally like never before, and continuing to lead the conversation in the tech and restaurant spaces with products
        that anticipate the changing needs of restaurants and diners. As we span countries and cultures, we’re very aware of an essential ingredient in making the power of our products possible: you. You are the reason why we work hard to be one step ahead of the moment
        and what inspires us to embody the true spirit of hospitality. So, pull up a chair and join us. <br>
    <div class="row margin-1">

            <div class="col-sm-4 col-sm-offset-2">
                <p class="text-center"><strong>THOMAS RAQUEL</strong></p><br>
                <a href="#demo" data-toggle="collapse">
                    <img src="image/c1.jpeg" class="img-circle person" alt="Random Name" width="255" height="255">
                </a>

            </div>

            <div class="col-sm-4 col-sm-offset-1">
                <p class="text-center"><strong>MARK TAFOYA</strong></p><br>
                <a href="#demo3" data-toggle="collapse">
                    <img src="image/c4.jpg" class="img-circle person" alt="Random Name" width="255" height="255">
                </a>

            </div>
        </div>

</div>

<!--section 3-->
<div class="container-fluid bg-1 text-center margin" id="menu">
    <h3>Menus</h3><br>
    <div class="row margin-1">
        <div class="col-sm-3">
            <p>Chef’s Table is Brooklyn Fare's three Michelin-starred restaurant. Settle into the kitchen counter
                for a communal dining experience featuring the cuisine of Chef César Ramirez.
                The courses on the tasting menu change to reflect products in season.</p>

            <img src="image/BK_shrimp.0.jpg" class="img-responsive" style="width:100%" alt="Image">
        </div>
        <div class="col-sm-3">
            <p>Inspired by Japanese cuisine and French technique, Chef's Table at Brooklyn Fare's
                menu preserves the integrity of its ingredients. The duration of the tasting
                menu is two and a half hours, and is focused on seafood and shellfish. </p>
            <img src="image/d7.jpg" class="img-responsive" style="width:100%" alt="Image">
        </div>
        <div class="col-sm-3">
            <p>Simple, yet elegant, Contra's minimalist design lets its adventurous tasting menu speak for itself.
                "The level of cooking is high-level," Jon Ferrer noted on Foursquare.
                "The desserts are inventive and delicious. Definitely add the bread into your meal."</p>
            <img src="image/d10.jpg" class="img-responsive" style="width:100%" alt="Image">
        </div>
        <div class="col-sm-3">
            <p>Mercat a la Planxa brings the flavors of Barcelona straight to Chicago through menu items like
                flash-fried padrón peppers, paella with fresh chorizo and grilled rabbit loin, and patatas bravas:
                spicy potatoes topped with smoked paprika aioli. </p>
            <img src="image/d11.jpg" class="img-responsive" style="width:100%" alt="Image">
        </div>
    </div>
<!--</div>-->

<!--<div class="container-fluid bg-3 text-center">-->
    <div class="row">
        <div class="col-sm-3">
            <p>Rich Table's impeccable service and creative dishes have earned it a loyal following, with diners raving about
                the porcini doughnuts in particular. The tasting menu goes for $93 per person and includes a selection of dishes
                from the chef.</p>
            <img src="image/d3.jpg" class="img-responsive" style="width:100%;height: 252px;" alt="Image">
        </div>
        <div class="col-sm-3">
            <p>At Michelin-starred The Musket Room, guests are treated to homestyle New Zealand cooking through dishes that
                explore the country's rich history. Both the "short story" and "long story" tasting menus take diners on a journey.
                The restaurant offers two six-course tasting menus, comprised of a rotating selection of the chef's signature dishes.</p>
            <img src="image/d14.jpg" class="img-responsive" style="width:100%" alt="Image">
        </div>
        <div class="col-sm-3">
            <p>Founded by Thomas Keller, Per Se serves up top-notch French cuisine courtesy of chef de cuisine Eli Kaimeh. Both
                the vegetable and chef's tasting menus run $325 per person for nine courses and feature dishes such as butter poached
                Alaskan king crab, foie gras "pastrami," and parmesan-braised celtuce.</p>
            <img src="image/d13.jpg" class="img-responsive" style="width:100%" alt="Image">
        </div>
        <div class="col-sm-3">
            <p>Eleven Madison Park offers only an elaborate prix-fixe menu from chef de cuisine Chris Flint, which goes for $295 per
                person. Each meal features eight to 10 courses based on ingredients sourced locally in New York. The menu changes daily,
                but sample dishes include anything from carrot tartare to poached lobster with beets, ginger, and bone marrow.</p>
            <img src="image/d6.jpg" class="img-responsive" style="width:100%" alt="Image">
        </div>
    </div>
</div>
<!--<br><br>-->

    <img class="img-map" src="image/Screen Shot 2017-08-13 at 11.02.57 PM.png" style="width:100%;height: 398px;"/>


<footer class="text-center">
    <a class="up-arrow" href="#header" data-toggle="tooltip" title="TO TOP">
        <span class="glyphicon glyphicon-chevron-up"></span>
    </a><br><br>
    <p>copyright©Chef's Table 2017</p>
</footer>
