<div class="col-md-8 col-md-offset-2">
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" id="name" class="form-control" formControlName="name">
    </div>

    <div class="form-group">
      <label for="tel">Tel</label>
      <input type="text" id="tel" class="form-control" formControlName="tel">
    </div>

    <div class="form-group">
      <label for="date">Date</label>
      <input type="date" id="date" class="form-control" formControlName="date">
    </div>

    <div class="form-group">
      <label for="time">Time</label>

      <select id="time" class="form-control" formControlName="time">
        <option value="11:30">11:30 AM</option>
        <option value="12:00" selected>12:00 PM</option>
        <option value="13:00">1:00 PM</option>
        <option value="13:30">1:30 PM</option>
        <option value="14:00">2:00 PM</option>
        <option value="14:30">2:30 PM</option>
        <option value="15:00">3:00 PM</option>
        <option value="15:30">3:30 PM</option>
        <option value="16:00">4:00 PM</option>
        <option value="16:30">4:30 PM</option>
        <option value="17:00">5:00 PM</option>
        <option value="17:30">5:30 PM</option>
        <option value="18:00">6:00 PM</option>
        <option value="18:30">6:30 PM</option>
        <option value="19:00">7:00 PM</option>
        <option value="19:30">7:30 PM</option>
        <option value="20:00">8:00 PM</option>
        <option value="20:30">8:30 PM</option>
        <option value="21:00">9:00 PM</option>
        <option value="21:30">9:30 PM</option>
        <option value="22:00">10:00 PM</option>
        <option value="22:30">10:30 PM</option>
        <option value="23:00">11:00 PM</option>
        <option value="23:30">11:30 PM</option>
        <option value="24:00">12:00 AM</option>

      </select>
    </div>

    <div class="form-group">
      <label for="partysize">Party Size</label><br>
      <!--<input type="text" id="partysize" class="form-control">-->
      <select id="partysize" class="form-control" formControlName="partysize">
        <option value="1">1 people</option>
        <option value="2" selected>2 people</option>
        <option value="3">3 people</option>
        <option value="4">4 people</option>
        <option value="5">5 people</option>
        <option value="6">6 people</option>
        <option value="7">7 people</option>
        <option value="8">8 people</option>
        <option value="9">9 people</option>
        <option value="10">10 people</option>
        <option value="11">11 people</option>
        <option value="12">12 people</option>
        <option value="13">13 people</option>
        <option value="14">14 people</option>
        <option value="15">>14 people</option>
      </select>
    </div>

    <!--<div class="form-group">
      <label for="tablenumber">Table Number</label>
      <input type="text" id="tablenumber" class="form-control">
    </div>-->

    <div class="form-group">
      <label for="tablenumber">Table Number</label><br>
      <!--<input type="text" id="partysize" class="form-control">-->
      <select id="tablenumber"  class="form-control" formControlName="tablenumber">
        <option value="1">No.1</option>
        <option value="2">No.2</option>
        <option value="3">No.3</option>
        <option value="4">No.4</option>
        <option value="5">No.5</option>
        <option value="6">No.6</option>
        <option value="7">No.7</option>
        <option value="8">No.8</option>
        <option value="9">No.9</option>
        <option value="10">No.10</option>
        <option value="11">No.11</option>
        <option value="12">No.12</option>
        <option value="13">No.13</option>
        <option value="14">No.14</option>
        <option value="15">No.15</option>
        <option value="16">No.16</option>
        <option value="17">No.17</option>
        <option value="18">No.18</option>
        <option value="19">No.19</option>
        <option value="20">No.20</option>
      </select>
    </div>
    <button class="btn btn-primary" type="submit" [disabled]="!myForm.valid" data-toggle="modal" data-target="#myModal">Submit</button>&nbsp;&nbsp;<strong>all fields required</strong>

  </form>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header alert-success" *ngIf="this.showSuccess && this.canOrder">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" *ngIf="this.showSuccess && this.canOrder">Your Reservation Success</h4>
      </div>

      <div class="modal-header alert-danger" *ngIf="this.needCheck && !this.canOrder">
        <button type="button" class="close" data-dismiss="modal">&times;</button>

        <h4 class="modal-title alert-danger" *ngIf="this.needCheck && !this.canOrder">Your Reservation Failed</h4>

      </div>

      <div class="modal-header alert-warning" *ngIf="this.sameUser && !this.canOrder">
        <button type="button" class="close" data-dismiss="modal">&times;</button>

        <h4 class="modal-title alert-warning" *ngIf="this.sameUser && !this.canOrder">Your Reservation In Waiting</h4>
      </div>


      <div class="modal-body">
        <h2 *ngIf="this.showSuccess && this.canOrder">Booking Success!</h2>
        <h3 *ngIf="this.showSuccess && this.canOrder">Your confirmation code is: {{this.conCode}}</h3>

        <h2 *ngIf="this.needCheck && !this.canOrder">Booking Failed!</h2>
        <h3 *ngIf="this.needCheck && !this.canOrder">Table is not available</h3>
        <h3 *ngIf="this.needCheck && !this.canOrder">Please change another time, or change another table</h3>

        <h2 *ngIf="this.sameUser && !this.canOrder">Your booking has been confirmed!</h2>
        <h4 *ngIf="this.sameUser && !this.canOrder">To edit or cancel your reservation, please go to Edit/Cancel page </h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

